In [1]:
import findspark

In [2]:
findspark.init("/opt/manual/spark")

In [3]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import *

In [4]:
spark = SparkSession.builder \
.appName("Create Filter") \
.master("local[2]") \
.getOrCreate()

In [5]:
df = spark.read \
.option("header",True) \
.option("inferSchema", True) \
.option("compression", "gzip") \
.csv("file:///home/train/datasets/Hotel_Reviews.csv.gz")

In [6]:
df2 = df.withColumn("Tags",
                    F.split(F.col("Tags"), ",")
                    .cast(ArrayType(StringType()))) \
.withColumn("Review_Date", F.to_date(F.col("Review_Date"), "M/d/yyyy"))

In [8]:
df2.limit(2).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",0 days,52.3605759,4.9159683
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",0 days,52.3605759,4.9159683

In [9]:
df2.filter("Average_Score > 6.0 ").limit(2).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",0 days,52.3605759,4.9159683
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",0 days,52.3605759,4.9159683

In [10]:
df2.filter("Average_Score > 6.0 ").count()

515673

In [11]:
df2.filter("Reviewer_Nationality LIKE '%United Kingdom%' ").limit(3).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[[' Leisure trip ', ' Solo traveler ', ' Dup...",3 days,52.3605759,4.9159683
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-17,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"[[' Leisure trip ', ' Group ', ' Duplex Twin...",17 days,52.3605759,4.9159683
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-17,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"[[' Leisure trip ', ' Couple ', ' Duplex Dou...",17 days,52.3605759,4.9159683

In [14]:
df2.selectExpr("Hotel_Name","TRIM(Reviewer_Nationality) AS Reviewer_Nationality") \
.filter("Reviewer_Nationality == 'United Kingdom' ").limit(3).toPandas()

    Hotel_Name Reviewer_Nationality
0  Hotel Arena       United Kingdom
1  Hotel Arena       United Kingdom
2  Hotel Arena       United Kingdom

In [15]:
df2.filter(F.col("Hotel_Address").rlike("Milan")).limit(3).toPandas()
#rlike milan geçen varsa getir

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,6 Via Aristotile Fioravanti Garibaldi Station ...,30,2017-08-01,8.9,Hotel VIU Milan,Netherlands,There is still some construction taking place...,50,219,Very friendly staff great service from everyo...,34,21,9.6,"[[' Leisure trip ', ' Couple ', ' Superior D...",2 days,45.488764,9.183057
1,6 Via Aristotile Fioravanti Garibaldi Station ...,30,2017-07-14,8.9,Hotel VIU Milan,Russia,The hotel blocked double 1 night payment on m...,149,219,No Positive,0,5,5.4,"[[' Leisure trip ', ' Couple ', ' Superior D...",20 days,45.488764,9.183057
2,6 Via Aristotile Fioravanti Garibaldi Station ...,30,2017-07-12,8.9,Hotel VIU Milan,Belgium,Not the best neighborhood in Milan right next...,20,219,Brand new and beautifully designed hotel bar ...,13,25,8.8,"[[' Business trip ', ' Solo traveler ', ' Su...",22 days,45.488764,9.183057

In [16]:
df2.select("Hotel_Address").filter(F.col("Hotel_Address").rlike("Milan")).show(n=3, truncate=False)

+---------------------------------------------------------------+
|Hotel_Address                                                  |
+---------------------------------------------------------------+
|6 Via Aristotile Fioravanti Garibaldi Station 20154 Milan Italy|
|6 Via Aristotile Fioravanti Garibaldi Station 20154 Milan Italy|
|6 Via Aristotile Fioravanti Garibaldi Station 20154 Milan Italy|
+---------------------------------------------------------------+
only showing top 3 rows

In [17]:
df2.filter("Reviewer_Nationality LIKE '%United Kingdom%' AND Average_Score > 8.0").limit(3).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,1 15 Templeton Place Earl s Court Kensington a...,244,2017-06-30,8.5,K K Hotel George,United Kingdom,Room wasn t ready on arrival after travelling...,94,1831,Fantastic location very clean room someone ca...,23,3,5.8,"[[' Leisure trip ', ' Couple ', ' Classic Do...",34 days,51.4918878,-0.1949706
1,1 15 Templeton Place Earl s Court Kensington a...,244,2017-06-27,8.5,K K Hotel George,United Kingdom,Our room allocated wasn t up to our expectati...,40,1831,Breakfast was excellent Staff in the restaura...,25,3,6.7,"[[' Leisure trip ', ' Group ', ' Classic Tri...",37 days,51.4918878,-0.1949706
2,1 15 Templeton Place Earl s Court Kensington a...,244,2017-06-27,8.5,K K Hotel George,United Kingdom,The cooked elements of breakfast could have b...,18,1831,The garden was a bonus Lovely area to have so...,25,12,8.3,"[[' Leisure trip ', ' Couple ', ' Classic Do...",37 days,51.4918878,-0.1949706

In [18]:
spark.stop()